#header {
	background-color:transparent;
	color:#FF6600;
	text-align:center;	
	text-position: bottom;
	padding:6px;
	position:relative;
	font-family:"Kristen ITC"
	}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}