#header {
	background-image:url('../bubble background edit.png');
	color:maroon;
	text-align:center;	
	text-position: bottom;
	padding:20px;
	position:relative;
	font-family:"Javanese Text"
		}
		
#menu ul {
	list-style:none;
	margin:0px;
	padding:6px;
	overflow:auto;
	}

#menu li {
	font-family:"Kristen ITC";
	float:left;
	padding:15px 0 0 20px;
	}

#menu li a {
	display:table-cell;
	background-color:black;
	color:#FF9933;
	border-style:inset inset outset outset;
	text-align:center;
	padding:3px 16px;
	text-decoration:none;
	}
	
.main {
    float: left;
    background-color:transparent;
    }

.contact {
  	float: left;
  	background-color:transparent
 	 }
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

 footer {
	background-color:#F5DA81;
	color:#FF6600;
	text-align:center;
	position:inherit;
	padding:1%;
	clear:both;
	}
